<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM application automation test suite">

<listeners>

<listener class-name="Reports.ReportGenerator"></listener>

</listeners>
<test name="DRT test">

<classes>

<class name="DRTTest.LoginTest"></class>




</classes>




</test>

</suite>